#floatheader.header
  .navbar.navbar-default{:role => 'navigation'}
    .container
      .topbar
        .col-xs-2
          = link_to(image_tag('MIS_Banner_notSoSmall.png', alt: 'Maid In Sheffield Logo'), root_path, id: 'biglogo')
          = link_to(image_tag('mis-banner-small.png', alt: 'Maid In Sheffield Logo'), root_path, id: 'smalllogo')

        .col-xs-10
          %ul.loginbar.pull-right

            - if user_signed_in?
              %li.topbar-devider
              %li= link_to 'FAQ', faq_path
              %li.topbar-devider
              %li= current_user.email
              %li= link_to('Edit Profile', edit_user_registration_path)
              %li.topbar-devider
              %li= link_to('Log Out', destroy_user_session_path, method: :delete)
            - elsif admin_signed_in?
              %li.topbar-devider
              %li= link_to('Edit Prices', homes_path)
              %li.topbar-devider
              %li= link_to('Edit Services', services_path)
              %li.topbar-devider
              %li= link_to('See Applicants', users_path)
              %li.topbar-devider
              %li= link_to('Log Out', destroy_admin_session_path, method: :delete)
            - else
              %li.topbar-devider
              %li= link_to 'FAQ', faq_path
              %li.topbar-devider
              %li= link_to 'Contact Us', contact_path
              %li.topbar-devider
              %li= link_to 'Gift Cards', gift_cards_path
              %li.topbar-devider
              %li= link_to('Login/Sign Up', 'https://maidinsheffield.launch27.com/signup')

      .navbar-header
        %button.navbar-toggle{:type => 'button', :data => {:toggle => 'collapse', :target => '.navbar-responsive-collapse'}}
          %span.sr-only Toggle navigation
          %span.fa.fa-bars/

      .collapse.navbar-collapse.navbar-responsive-collapse
        .col-xs-9
          %ul.nav.navbar-nav
            %li= link_to 'About Us', about_us_path
            %li= link_to 'Testimonials', testimonials_path
            %li= link_to 'Services & Pricing', price_grid_path
            %li= link_to 'Student Deal', student_pack_path

        .col-xs-1
          =link_to('BOOK NOW!', booking_form_path, :type => 'button', :class => 'btn btn-success', :id => 'bookbuttonheader')