<div>
  <div id="frontslider" class="owl-carousel owl-theme" style="position:relative; width: 100%">
 
    <div class="item"><%=image_tag('slider_1.jpg')%></div>
    <div class="item"><%=image_tag('slider_2.jpg')%></div>
    <div class="item"><%=image_tag('slider_3.jpg')%></div>

  </div>
  <div class="col-xs-12" id="slidertext" style="text-align: center">Introducing Maid In Sheffield <br><small>A professional maid service, with made in Sheffield quality</small>
    <div class="col-xs-6 col-xs-offset-3">
      <%=link_to 'Who Are We?', about_us_path, :class => 'btn-u btn-brd btn-brd-hover btn-u-light btn-top-buffered'%>
      <%=link_to 'Book Online', booking_form_path, :class => 'btn-u btn-brd btn-brd-hover btn-u-light btn-top-buffered'%>
    </div>
  </div>
  
</div>
    <!--=== End Slider ===-->
    <!--=== Advert Block ===-->
    <div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 animated fadeInLeft">
                    <div class="row">
                        <h1 class="text" align="center"> BOOK WITH US IN 60 SECONDS! </h1>
                        	<form action="../postcodes.php" method="post">
                              <div class="col-xs-7 col-xs-offset-1">
                              	<input type="text" name="postcode" placeholder="Post Code">
                              </div>
                              <div class="col-xs-4">
                                <%=link_to('Book Now!', price_grid_path, :type => 'button', :class => 'btn btn-success')%>
                              </div>
                          </form>
                     </div>
                 </div>
            </div>
        </div>
    </div>
    <!-- End Advert Block -->

    <!--=== Content Part ===-->
    <div class="container content">	
    
    	<!-- Service Blocks -->
    	<div class="row margin-bottom-30">
        	<div class="col-md-4">
        				<h4>Elite service</h4>
                        <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-check color-green"></i> Professional, background checked teams</li>
                            <li><i class="fa fa-check color-green"></i> Quick and easy online booking</li>
                            <li><i class="fa fa-check color-green"></i> No minimum recurring contracts</li>
                            <li><i class="fa fa-check color-green"></i> Satisfaction guaranteed</li>
                        </ul>
        	</div>
        	<div class="col-md-4">
        				<h4>Clean & Green</h4>
                        <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-check color-green"></i> Green and eco friendly cleaning products</li>
                            <li><i class="fa fa-check color-green"></i> The safest clean possible to protect your family and pets</li>
                            <li><i class="fa fa-check color-green"></i> Special requests? We'll make it happen!</li>
                            <li><i class="fa fa-check color-green"></i> Fully insured to protect your home</li>
                        </ul>	
        	</div>
        	<div class="col-md-4">
        				<h4>Easily Available</h4>
                        <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-check color-green"></i> Book online in 60 seconds</li>
                            <li><i class="fa fa-check color-green"></i> Flat rate pricing; no need to describe your house to us.</li>
                            <li><i class="fa fa-check color-green"></i> No need for a quote, just pick your slot and we'll turn up, rain or shine!</li>
                            <li><i class="fa fa-check color-green"></i> Simple, easy to understand packages</li>
                        </ul>
        	</div>			    
    	</div>
    	<!-- End Service Blocks -->
        
    	<!-- Info Blocks -->
    	<div class="row margin-bottom-30">
        	<!-- Welcome Block -->
    		<div class="col-md-12 md-margin-bottom-40">
    			<div class="headline"><h2>Why Use Maid In Sheffield?</h2></div>
                <div class="row">
                    <div class="col-sm-4">
                        <%=image_tag('mis-transparent-medium.png', class: 'img-responsive margin-bottom-20')%>
                    </div>
                    <div class="col-sm-8">
                        <p>Our mission is to simplify your life by offering convenient and an exceptional quality domestic house cleaning and maid service in Sheffield and the surrounding area. We offer a variety of services and guarantee all work or your money back.</p>
                        <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-thumbs-up color-green"></i> We don't require a minimum contract; we can do one off emergency cleans or routine cleans, its completely up to you.</li>
                            <li><i class="fa fa-thumbs-up color-green"></i> We're competitive on price because we don't work slowly to make up the hours. Your clean will take approximately 2-3 hours and we send a team of two maids to make sure you get the best clean possible.</li>
                            <li><i class="fa fa-thumbs-up color-green"></i> We only use green and Eco-friendly cleaning products to make sure that our cleans are safe for your family and your pets. We specialise in hypo-allergenic cleaning and we can ensure any special requests are carried out.</li>
                            <li><i class="fa fa-thumbs-up color-green"></i> If you're not happy with your service, we send a team out to make it right. If you're still not happy enough to recommend us to a friend, we offer a full refund.</li>
							<li><i class="fa fa-thumbs-up color-green"></i> Our uniformed staff are fully insured and background checked to make you feel safe about using our service.</li>
                        </ul>                   
                    </div>
				</div>
				<div class="col-sm-12">
                  <div class="headline"><h2>How It Works</h2></div>
                  <div class="col-xs-12"><center><%=image_tag('simple_service.png')%></center></div>
                  <div class="col-md-4 col-xs-12"><%=link_to(image_tag('pick_service.png'), price_grid_path)%></div>
                  <div class="col-md-4 col-xs-12"><%=link_to(image_tag('book_service.png'), booking_form_path)%></div>
                  <div class="col-md-4 col-xs-12"><%=link_to(image_tag('enjoy_service.png'), testimonials_path)%></div>
				</div>
				
				<div class="col-xs-12 thumbnail-style">
					<div id="lieslider" class="owl-carousel owl-theme">
 						<div class="item" >
							<h3><br>"Thank you for organising a brilliant clean this morning for my son's flat in Bents Green. <br> A wonderful service and we will use you again soon." <br> - Judi J</h3>
						</div>
						<div class="item">
							<h3><br>"A perfect clean and all the windows look lovely!<br>So impressed with what you were able to do in a short time frame." <br> - Helen E, Hillsborough</h3>
						</div>
						<div class="item">
							<h3><br>"I was a bit hesitant at first to go with a website I'd not used before, <br>but the checklist made it clear what I was getting, and it all worked out great!" <br> - James P, Totley</h3>
						</div>
					</div>
				</div>
				
            </div>
        </div>       
    </div>
<div id="call-to-action" class="container-fluid">
	<div class="col-xs-6" style="text-align: right;">
		<h1 style="color: white; padding-top: 20px; padding-bottom: 10px;">Ready To Book?</h1>
	</div>
	<div class="col-xs-6">
        <%=link_to 'Book Now', booking_form_path, :class => 'btn-u btn-brd btn-brd-hover btn-u-light btn-pale-buffered'%>
        <%=link_to 'Services & Pricing', price_grid_path, :class => 'btn-u btn-brd btn-brd-hover btn-u-light btn-pale-buffered'%>
	</div>
</div>

<div id="featured-in" class="container-fluid"  style="text-align: center;">
	<div class="col-xs-2 col-xs-offset-1"><%=image_tag('fe1.png')%></div>
    <div class="col-xs-2"><%=image_tag('fe3.png')%></div>
	<div class="col-xs-2"><%=image_tag('fe4.png')%></div>
	<div class="col-xs-2"><%=image_tag('fe5.png')%></div>
    <div class="col-xs-2"><%=image_tag('thestar.png')%></div>
</div>

<script type="text/javascript">
$(document).ready(function() {
 
  $("#frontslider").owlCarousel({
 
      navigation : false, // Show next and prev buttons
      pagination : false,
      slideSpeed : 300,
      singleItem : true,
      autoPlay : true,
  });
 
});
</script>
<script type="text/javascript">
$(document).ready(function() {
 
  $("#lieslider").owlCarousel({
 
      navigation : false, // Show next and prev buttons
      pagination : true,
      slideSpeed : 300,
      singleItem : true,
      autoPlay : true,
  });
 
});
</script> 
<%= render partial: 'shared/purechat' %>