<div class="container">
   <h1 class="pull-left headline"><br>Get In Touch</h1>
</div> 

<div class="container content">	
  <div class="col-md-8" style="height: 600px;" id="ContactForm">
    <%= form_for Message.new, :url => contact_path do |form| %>
    <fieldset class="fields">

      <p>Your Name:</p>
      <div class="field">
        <%= form.text_field :name %>
      </div>

      <p>Your Email Address:</p>
      <div class="field">
        <%= form.text_field :email %>
      </div>

      <div class="field">
        <%= form.hidden_field :subject, value: 'Client Inquiry - Maid In Sheffield' %>
      </div>

      <p>What can we help you with?</p>
      <div class="field">
        <%= form.text_area :body %>
      </div>
    </fieldset>

    <fieldset class="actions">
      <%= form.submit 'Submit', class: 'pull-right'%>
    </fieldset>

    <% end %>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <%= render 'shared/contact_details'%>
  </div>

</div>
<%= render partial: "shared/purechat" %>