.container
  %h1.pull-left.headline <br> Edit Profile

.container.content
  .col-xs-12
    .row{:style => 'height: 700px'}
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f|
        = devise_error_messages!

        .field
          = f.label :name
          <br>
          = f.text_field :name

        .field
          = f.label :email
          <br>
          = f.email_field :email, autofocus: true

        .field
          = f.label :bio
          <br>
          = f.text_area :bio, rows: 11, cols: 50
          <br>
        .field
          %i (Please enter your password to confirm your changes) <br>
          = f.password_field :current_password, autocomplete: 'off'

        .actions
          = f.submit 'Update'

    .row
      <br>
      = @upd = User.find_by_cv(current_user.cv)
      = if @upd
        %h3 We have your CV, thank you.
      = else
        = link_to 'Add your CV', upload_cv_path, class: 'pull-left btn btn-lg btn-success'
      = link_to('Cancel Application', registration_path(resource_name), data: {confirm: 'Are you sure?'}, method: :delete, :class => 'pull-right btn btn-lg btn-red')



